<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
      		  Theme <a href="https://xuyuquan0713.github.io/" target="_blank">Yilia</a> by <a href="https://xuyuquan0713.github.io/" target="_blank">Yuquan</a> configure
      	</div>
    </div>
  </div>
</footer>
<!--页面点击小红心-->
<script type="text/javascript" src="/love.js"></script>